html, body {
     direction: rtl;
     text-align: right;
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     line-height:1.2;
 }

 
 .column {
     float: right;
     width: 31.33%;
     padding-left: calc(1% - 1px);
     padding-right: 1%;
     margin-bottom: 18px;
     /*border-left: 1px solid black;*/
    border-width: 1px; border-style: solid;
    -webkit-border-image: -webkit-linear-gradient(top #103443, white) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(#103443, white) 1 100%;
    -moz-border-image: -moz-linear-gradient(#103443, white) 1 100%;
    -o-border-image: -o-linear-gradient(#103443, white) 1 100%;
    border-image: linear-gradient(to bottom, LightGray, white) 1 100%;
    border-right: 0px;
 }

 .mainheadline {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif
 }

 .subtitle {
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
 }

 .drop-cap{
    font-size: 95px;
    float: right;
    color: #103443;
    line-height: 50px;
    font-weight: bold;
    text-indent: 0.3em;
    padding-left: 3px;
    
 }

 .article-sub{
   text-decoration: underline;
   font-weight: bolder;
   text-indent: 0;
   font-size: 17px;
}

.quote-en{
   direction: ltr;
    line-height: 1.6;
    font-size: 15px;
    color: #103443;
    text-align: justify;
    font-style: oblique;
    margin-left: 12%;
    margin-right: 12%;
    font-weight: bolder;
}



