@media only screen and (max-width: 630px) {
   .row {
      width: 100%;
   }

   .row>div {
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
   }

   .mainheadline {
    line-height: 1.2;
    font-size: 1.4rem;
}

   .threeinrow {
      float: none;
      width: 100%;
   }

   .threeinrow-m {
      float: none;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
   }

   .twoinrow {
      float: none;
      width: 100%;
   }


   .subtitle {
      line-height: 1.3;
      font-size: 0.87rem;
   }

   .modal-content {
      max-width: 100%;
   }

   .close {
      top: 40px;
      right: 5px;
      font-size: 28px;
   }

   .project-nav {
      font-size: 0.8rem;
   }
}