.clearfix {
    &::after {
    content: "";
    clear: both;
    display: table;
    }
}

.uppercase {
    text-transform: uppercase;
}

// set margin and padding classes:
$spaceamounts: (1, 2, 3);

@each $space in $spaceamounts {
    //margin top & bottom:
    .my-#{$space} {
        margin: calc(#{$space}rem/2) 0;
    }
    //margin left:
    .ml-#{$space} {
        margin-left: calc(#{$space}rem/2);
    }
    //margin bottom:
    .mb-#{$space} {
        margin-bottom: calc(#{$space}rem/2);
    }
    //padding top & bottom:
    .py-#{$space} {
        padding: calc(#{$space}rem/2) 0;
    }
    //padding bottom:
    .pb-#{$space} {
        padding-bottom: calc(#{$space}rem/2);
    }
    //padding all:
    .p-#{$space} {
        padding: calc(#{$space}rem/2) ;
    }
}