@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&subset=latin-ext,greek-ext,cyrillic-ext,greek,vietnamese,latin,cyrillic');
html, body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
   width: 630px;
   margin: auto;
   line-height: 1.5;
}

a>div {
   font-weight: bold;
   float: right;
   font-size: 17px;
}

.headline {
   font-size: 26px;
   line-height: 1.5;
}

.mainheadline {
   line-height: 1;
   font-size: 30px;
   text-transform: uppercase;
   color: #103443;
   text-align: center;
   padding-top: 5px;
   padding-bottom: 7px;
   border-bottom: 2px solid #FFD700;
   font-family: 'Open Sans', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}

.borderline {
   border-top: 2px solid #FFD700;
   padding: 1%;
}

.subtitle {
   line-height: 0.9;
   font-size: 17px;
   color: #103443;
   font-style: oblique;
   font-weight: 500;
}

/* Clear floats */

a:after {
   content: "";
   display: table;
   clear: both;
}

body>div:last-child>a {
   text-decoration: underline;
}

body>div:last-child>a:after {
   content: none;
   display: inline;
   clear: none;
}

.insidetitle {
   text-align: center;
   color: white;
   background: rgb(160, 160, 160);
}

.insidetitle+.insidetitle {
   margin-top: 1px;
   font-size: 19px;
   font-weight: bold;
}

.row>div {
   margin-bottom: 2%;
}

div .imageinrow {
   margin-bottom: 0;
}

.imageinrow {
   width: 100%;
   position: relative;
   left: 0;
   top: 0;
   padding-bottom: 3px;
}

.threeinrow {
   float: left;
   width: 32.3%;
}

.threeinrow-m {
   float: left;
   width: 32.3%;
   padding-left: 1.5%;
   padding-right: 1.5%;
}

.twoinrow {
   float: left;
   width: 48%;
}

.magnifying {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 90px;
   cursor: pointer;
   z-index: 1;
}

.magnifying:hover {
   transform: scale(1.1);
}

.description {
   line-height: 1.4;
   font-size: 15px;
   color: #2b2b2b;
   text-align: justify;
}

.article {
   line-height: 1.4;
   font-size: 15px;
   color: #2b2b2b;
   text-align: justify;
   text-indent: 1.5em;
}

.article-sub {
   text-decoration: underline;
   font-weight: bolder;
   text-indent: 0;
}

.endnote {
   line-height: 1.4;
   font-size: 13px;
   color: #7a7a7a;
   text-align: justify;
   display: inline-block;
   text-indent: 0;
}

.quote {
   line-height: 1.6;
   font-size: 15px;
   color: #103443;
   text-align: justify;
   font-style: oblique;
   margin-left: 12%;
   margin-right: 12%;
   font-weight: bolder;
}

.drop-cap {
   font-size: 75px;
   float: left;
   color: #103443;
   line-height: 58px;
   font-weight: bold;
   text-indent: 0.3em;
   padding-right: 3px;
}

.imagecredit {
   line-height: 1.1;
   font-size: 12px;
   color: #2b2b2b;
}

.abstract {
   line-height: 1.4;
   font-size: 14.5px;
   color: black;
   text-align: justify;
   font-weight: bold;
   border-bottom: 1px solid #103443;
}

.imagesource {
   color: gray;
}

/* image slider */

.slideshow-container {
   width: 100%;
   position: relative;
}

.slides {
   display: none;
}

.right-arrow {
   right: 0;
   border-radius: 3px 0 0 3px;
}

.left-arrow {
   left: 0;
   border-radius: 0 3px 3px 0;
}

.right-arrow, .left-arrow {
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: rgba(255, 255, 255, 0.8);
   font-weight: bold;
   font-size: 18px;
   transition: 0.3s ease;
   user-select: none;
   cursor: pointer;
}

.right-arrow:hover, .left-arrow:hover {
   color: white;
}

.slider-nav {
   width: 100%;
   padding: 20px 0;
   position: absolute;
   bottom: 0;
   left: 0;
   text-align: center;
}

.slider-button, .slider-button-selected {
   width: 10px;
   height: 10px;
   display: inline-block;
   border-radius: 50%;
   margin: 0 5px;
   cursor: pointer;
}

.slider-button {
   background: rgba(255, 255, 255, 0.2);
}

.slider-button:hover, .slider-button-selected {
   background: rgba(255, 255, 255, 0.8);
}

/*modal*/

.modal {
   display: none;
   position: fixed;
   z-index: 2;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.7);
}

.zoom {
   animation: zoom 0.3s;
   -webkit-animation: zoom 0.3s;
   -moz-animation: zoom 0.3s;
   -o-animation: zoom 0.3s;
   -ms-animation: zoom 0.3s;
}

@keyframes zoom {
   from {
      transform: scale(0)
   }
   to {
      transform: scale(1)
   }
}

@-webkit-keyframes zoom {
   from {
      transform: scale(0)
   }
   to {
      transform: scale(1)
   }
}

@-moz-keyframes zoom {
   from {
      transform: scale(0)
   }
   to {
      transform: scale(1)
   }
}

@-o-keyframes zoom {
   from {
      transform: scale(0)
   }
   to {
      transform: scale(1)
   }
}

@-ms-keyframes zoom {
   from {
      transform: scale(0)
   }
   to {
      transform: scale(1)
   }
}

.zoom-out {
   animation: zoom-out 0.2s;
   -webkit-animation: zoom-out 0.2s;
   -moz-animation: zoom-out 0.2s;
   -o-animation: zoom-out 0.2s;
   -ms-animation: zoom-out 0.2s;
}

@keyframes zoom-out {
   from {
      transform: scale(2)
   }
   to {
      transform: scale(1)
   }
}

@-webkit-keyframes zoom-out {
   from {
      transform: scale(2)
   }
   to {
      transform: scale(1)
   }
}

@-moz-keyframes zoom-out {
   from {
      transform: scale(2)
   }
   to {
      transform: scale(1)
   }
}

@-o-keyframes zoom-out {
   from {
      transform: scale(2)
   }
   to {
      transform: scale(1)
   }
}

@-ms-keyframes zoom-out {
   from {
      transform: scale(2)
   }
   to {
      transform: scale(1)
   }
}

.modal-content {
   margin: auto;
   display: block;
   max-width: 80%;
   max-height: 94vh;
   position: relative;
   top: calc(50% + 27px);
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   -ms-transform: translateY(-450%);
   transition: transform 0.1s;
   -webkit-transition: -webkit-transform 0.1s;
   -moz-transition: -webkit-transform 0.1s;
   -o-transition: -webkit-transform 0.1s;
   -ms-transition: -webkit-transform 0.1s;
}

.close {
   position: absolute;
   top: 50px;
   right: 25px;
   color: #f1f1f1;
   font-size: 35px;
   transition: 0.3s;
}

.close:hover, .close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
}

@media only screen and (max-width: 630px) {
   .row {
      width: 100%;
   }
   .row>div:not(.threeinrow):not(.threeinrow-m):not(.twoinrow) {
      width: 96%;
      margin-right: 2%;
      margin-left: 2%;
   }
   .threeinrow {
      float: none;
      width: 100%;
   }
   .threeinrow-m {
      float: none;
      width: 100%;
      padding-left: none;
      padding-right: none;
   }
   .twoinrow {
      float: none;
      width: 100%;
   }
   .mainheadline {
      font-size: 28px;
   }
   .subtitle {
      line-height: 1.2;
   }
   .modal-content {
      max-width: 100%;
   }
   .close {
      top: 40px;
      right: 5px;
      color: #f1f1f1;
      font-size: 28px;
   }
}